<div class="col-md-12"><h1>Danh Sach Thanh Vien</h1></div>
<div class="col-md-12">
	<div class="row m-2">
		<div class="col-md-4">
			 <%= image_tag("avatar2.jpg", :alt => "rss feed", :class => "d-block img-fluid", :style=>"width:250px;height:170px;")  %>
		</div>
		<div class="col-md-6" style="border:1px solid black;">
			<div class="row m-2">
				<div class="col-md-4">
					Ho Ten :
				</div>
				<div class="col-md-8">
					Phan Tue Anh
				</div>
			</div>
			<div class="row m-2">
				<div class="col-md-4">
					MSSV :
				</div>
				<div class="col-md-8">
					1412014
				</div>
			</div>
			<div class="row m-2">
				<div class="col-md-12">
						Lập trình viên (người lập trình hay thảo chương viên điện toán) là người viết ra các chương trình máy tính. 
				</div>
			
			</div>
		</div>
		
	</div>

	<div class="row m-2">
		<div class="col-md-4">
			 <%= image_tag("avatar1.jpg", :alt => "rss feed", :class => "d-block img-fluid", :style=>"width:250px;height:170px;")  %>
		</div>
		<div class="col-md-6" style="border:1px solid black;">
			<div class="row m-2">
				<div class="col-md-4">
					Ho Ten :
				</div>
				<div class="col-md-8">
					Le Anh Khoi
				</div>
			</div>
			<div class="row m-2">
				<div class="col-md-4">
					MSSV :
				</div>
				<div class="col-md-8">
					1412262
				</div>
			</div>
			<div class="row m-2">
				<div class="col-md-12">
						Lập trình viên (người lập trình hay thảo chương viên điện toán) là người viết ra các chương trình máy tính. 
				</div>
			
			</div>
		</div>
		
	</div>
</div>
<div class="col-md-12">
	<h1>Our Location</h1>
</div>
<div class="col-md-12">
	<div id="one_marker" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'one_marker'}}, function(){
  	markers = handler.addMarkers([
    {
      "lat": 10.762760,
      "lng": 106.682092,
      
      "infowindow": "hello!"
    }
 	 ]);
  	handler.bounds.extendWith(markers);
  	handler.fitMapToBounds();
});
</script>

