<div class="container">
	<% @users.each do |user| %>
		<div class="row">
			
				<div class="card">
				  <div class="card-block">
				    <h4 class="card-title"><span style="color:green;"><%=user.email%></span></h4>
				    <h4 class="card-subtitle mb-2 text-muted"><td><%=user.name%></td></h4>
				   
				  </div>
				

			</div>
				
		</div>
	<% end %>
</div>
